@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

p,
a,
h1,
h2,
span {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

@layer components {
  .LayoutContainer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
  }
}
